.container {
    text-align: center;
    margin: 50px;
}

.drum-pads {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-rows: repeat(3, 1fr);
    margin: 25px 25px 25px 25px;
    width: min-content;
}

.pad {
    width: 100%;
    margin-top: 15%;
    border: 5px solid rgb(139, 61, 9);
    display: grid;
    place-items: center;
    background-color: #f7f7f7be;
}

#display {
    margin-top: 5%;
    width: 35%;
    background-color: white;
    background-color: #6d66669f;
    font-weight: bold;
}

.drum-pad {
    width: 4rem;
    height: 3rem;
    border-radius: 4px;
    background-color: #6d66669f;
    box-shadow: 3px 3px 5px rgba(46, 44, 44, 0.87);
    cursor: pointer;
    font-weight: bold;
    font-size: larger;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    
    .pad {
        width: 40%;
        margin: 5% auto;
    }
    
    #display {
        margin: auto;
        width: 25%;
        margin-top: 10px;
    }
    
    .drum-pad {
        width: 6rem;
        height: 4rem;
    }
  }